{% extends 'AppBundle:Layouts:layout.html.twig' %}

{% block content %}
    <div class="box-form col-lg-8">
        <h2>Mis datos personales</h2>
        <hr>

        {{form_start(form, {'action': '', 'method': 'POST', 'enctype': 'multipart/form-data'})}}
        {{form_errors(form)}}
        {{form_end(form)}}
    </div>
{% endblock %}