{% extends 'AppBundle:Layouts:layout.html.twig' %}

{% block content %}
  <div class="box-form col-lg-4">
        <h2>Iniciar sesi칩n</h2>
        <hr>
        <form action="{{ path('login_check') }}" method="POST">
          <div>
            <label for="username" class="required">Correo electr칩nico</label>
            <input id="username" name="_username" required="required" class="form-name form-control" type="text">
          </div>
          <div>
            <label for="password" class="required">Contrase침a</label>
            <input id="password" name="_password" required="required" class="form-name form-control" type="password">
          </div>
          <div>
            <button type="submit" id="submitUser" name="" class="form-submit btn btn-success">
              Iniciar sesi칩n
            </button>
            <input type="hidden" name="_target_path" value="/home"></input>
          </div>
        </form>
    </div>
{% endblock %}